@{
    ViewData["Title"] = "Livros";
}

<style>
    .book-cover {
        width: 120px;
        height: 180px;
        object-fit: cover;
        border-radius: 5px;
    }

    .section-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 30px 0 15px;
    }

    .floating-button {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="container">
    <div class="mb-4 d-flex justify-content-center">
        <input type="text" class="form-control w-50" placeholder="Pesquisar">
    </div>

    <div>
        <div class="section-title mt-5">Lendo</div>
        <div class="d-flex gap-3 flex-wrap">
            <img src="https://m.media-amazon.com/images/I/81ldnvmlicL._SL1500_.jpg" class="book-cover" alt="Promessas Cruéis">
            <img src="https://m.media-amazon.com/images/I/81doFJKQH5L._SY425_.jpg" class="book-cover" alt="A missão traiçoeira">
        </div>
    </div>

    <div>
        <div class="section-title mt-5">Quero Ler</div>
        <div class="d-flex gap-3 flex-wrap">
            <img src="https://m.media-amazon.com/images/I/71fEYN72-UL._SY425_.jpg" class="book-cover" alt="Amanhecer na colheita">
            <img src="https://m.media-amazon.com/images/I/81mQNpDPIuL._SL1500_.jpg" class="book-cover" alt="O Circo da Noite">
            <img src="https://a-static.mlcdn.com.br/1500x1500/livro-ordem-paranormal-o-espreitador-e-outras-historias/cliquebooks/886525-6/9b4fb8777173fe4c2f978a90cccb0eb9.jpeg" class="book-cover" alt="Espreitador e Outras Histórias">
        </div>
    </div>

    <div>
        <div class="section-title mt-5">Lido</div>
        <div class="d-flex gap-3 flex-wrap">
            <img src="https://m.media-amazon.com/images/I/51ABRx3d7GL._SY445_SX342_.jpg" class="book-cover" alt="Verity">
            <img src="https://m.media-amazon.com/images/I/81DkKVIavBL._SY425_.jpg" class="book-cover" alt="Assistente do Vilão">
            <img src="https://m.media-amazon.com/images/I/91aRbGB8IFL._SY425_.jpg" class="book-cover" alt="Os sete maridos de Evelyn Hugo">
        </div>
    </div>
</div>
</div>

<button class="btn btn-success floating-button">
    <i class="bi bi-plus-lg fs-5"></i>
</button>
